GF_SERVER_ROOT_URL="https://grafana.mydomain.com"

GF_RENDERING_RENDERER_TOKEN="abcdefABCDEF123456789"
AUTH_TOKEN=${GF_RENDERING_RENDERER_TOKEN}

GF_SMTP_ENABLED=true
GF_SMTP_HOST=smtp.example.com:587
GF_SMTP_FROM_NAME=Grafana
GF_SMTP_SKIP_VERIFY=false
GF_SMTP_STARTTLS_POLICY=MandatoryStartTLS
GF_SMTP_FROM_ADDRESS=bob@example.com
GF_SMTP_USER=bob@example.com